$baseFontSize:14px;
$baseFontColor:#333;
$bfcp:#f8f0ff;
$baseColor:var(--primary-color);
$bearColor:var(--bear-color);
$bearColorLight:var(--bear-color-light);
$bearColorHighLight:var(--bear-color-highLight);
$bearBlack:var(--bear-black);
$tm:.5s;

$bcb: #DCDFE6;
$border:1px solid $bcb;